.btn {
  background-color: #222222;
  color: #fff;
  font-family: inherit;
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
}

.delete-btn {
  background-color: #f15e5e;
  border: 0;
}

.cancel-btn {
  background-color: rgba(0, 0, 0, 0.15);
  border: 0;
}

/* .cancel-btn:hover,
.delete-btn:hover {

} */

.btn.purchaseCart {
  height: 48px;
  width: 340px;
  border-radius: 24px;
  font-size: 16px;
}

.btn.purchaseCart:hover {
  height: 48px;
  width: 340px;
  border-radius: 24px;
  font-size: 16px;
  background-color: #353434;
  cursor: pointer;
}

.btn.addToCart {
  height: 48px;
  width: 378px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.btn.addToCart:hover {
  height: 48px;
  width: 378px;
  border-radius: 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #353434;
   margin-top: 30px;
}