.user-link {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.user-link:hover {
    color: gray;
}

.category-container {
    width: 100%;
    height: 280px;
    margin-top: 0px;
    display:flex;
    flex-direction: column;
}

.welcome-container {
    width: 100%;
    display: flex;
    height: 104px;
    background-color: #faecd5;
    /* padding: 30px 0 18px; */
    font-size: 50px;
    line-height: 56px;
    font-style: normal;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 100;
    align-items: center;
    justify-content: center;
}

.category-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #faecd5 0%, #faecd5 50%, white 50%, white 100%);;
}

.category-list-item {
    height: 166px;
    width: 114px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
}

.category-list-item:hover {
    border-bottom: 2px solid gray;
    color: gray;
}

.category-image {
    max-height: 114px;
    max-width: 114px;
    border-radius: 50%;
}

.category-image:hover {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgb(34 34 34 / 20%);
}

