.search-not-found {
    margin-top: 0px;
    width: 98%;
    height: 405px;
    background-image: url(./404-Search-Not-Found.svg);
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 36px;
    padding: 18px;
    background-size: cover;
    display: flex;
}
.search-not-found h2 {
    font-size: 42px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 48px;
    margin-left: 34px;
    margin-top: 0px;
}

.search-not-found p {
    font-size: 16px;
    padding-top: 12px;
    margin-left: 34px;
}

.isLoading {
    width: 100%;
    background-color: white;
    height: 600px;
}

.search-page {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.results-text {
    width:fit-content;
    border-radius: 96px;
    padding: 12px;
    margin-top: 26px;
    margin-bottom: 12px;
    border: 2px solid black;
    margin-left: 9px;
    font-size: 13px;
}

.filter-button {
    width:fit-content;
    border-radius: 96px;
    padding: 12px;
    border: 2px solid black;
    margin-left: 9px;
    font-size: 13px;
    background-color: white;
    cursor: pointer;
}

.filter-button:hover {
    box-shadow: none;
    box-shadow: 0 4px 10px rgb(34 34 34 / 20%);
    transform: scale(1.01);
}

.product-grid-search-page {
    justify-content: center;
}