.container {
  height: 100%;
  width: 100%;
}

.product-image-form {
  border: 1px solid orange;
  height: 100%;
}

.image-preview-grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  width: 100%;
}
