.product-listing {
  width: 100%;
  height: 100%;
  justify-content: center;
  min-height: 60vh;
  display: grid;
  grid-template-columns: minmax(560px, 860px) minmax(270px, 460px);
}

.product-listing-main {
  grid-column: 1 / 2;
  width: 100%;
  height: auto;
  padding-left: 30px;
}

.product-listing-side {
  grid-column: 2 / 3;
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .product-listing {
    display: flex;
    flex-direction: column;
  }
}
