.product-thumbnail img {
  height: 60px;
  width: 60px;
  opacity: 0.6;
  border-radius: 5px;
  transition: opacity 0.1s;
  margin-bottom: 4px;
}

.product-thumbnail img:hover {
  opacity: 1;
  cursor: pointer;
}

img.selected {
  opacity: 1;
  border: 2px solid #222;
}
