.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.product-heading {
  font-family: 'Neuton', Cambria, Cochin, Georgia, Times, 'Times New Roman',
    serif;
  font-size: 26px;
  font-weight: 300;
}

.seller-details-link {
  font-size: 16px;
  font-weight: 400;
}

.seller-details-link:hover {
  text-decoration: underline;
}

.product-price-details {
  display: flex;
  flex-direction: column;
}

.product-price-details-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.product-price-details-top-left,
.product-price-details-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-with-discount {
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  width: fit-content;
  margin: 0 5px 0 0 !important;
}

.price-before-discount-details {
  color: #595959;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  text-decoration: line-through;
  width: fit-content;
  height: 13px;
  margin: 0 !important;
}

.discount {
  font-size: 13px;
  font-weight: 300;
  color: #258635;
}

span.in-stock,
.in-stock-icon {
  font-size: 13px;
  font-weight: 600;
}

span.out-of-stock,
.out-of-stock-icon {
  font-size: 13px;
  font-weight: 600;
  color: #b23545;
}

.in-stock-icon,
.out-of-stock-icon {
  margin-right: 3px;
  position: relative;
  top: 2px;
}
