.badge {
  border-radius: 100px;
  font-size: 80%;
  font-weight: 300;
  line-height: 1;
  min-width: 18px;
  padding: 4px 6px;
  text-align: center;
}

.badge-black {
  color: #fff;
  background-color: #222;
}

.badge-small {
  font-size: 11px;
}

.price-badge {
  background-color: #d4e9d7;
  color: #222222;
  font-weight: 500;
  padding: 5px 9px 5px 9px;
  position: relative;
  left: 5px;
}

.product-image-landscape .price-badge {
  bottom: 12px;
  left: 5px;
}

.product-image-square .price-badge {
  bottom: 30px;
}
