.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.1s;
}

.trigger:hover {
  background-color: #f3f3f3;
}

.trigger-text {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
}
