#review_form {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: aliceblue; */
    width: 550px;
}

#review_body {
    border:none;
    border-bottom: solid 1px lightgray;
    height: 25px;
    margin: 20px 0;
    min-height: 20px;
    overflow: hidden;
    resize: none;
    width: 500px;
}

#review_body:focus {
    /* remove default outline */
    outline: none !important;
    border-bottom: 1px solid black;
}

.review-btn {
    align-self: flex-end !important;
    margin: 10px;
}

#review_btn_container {
    align-self: flex-end;
}

#review-pic {
    /* background-color: red; */
    display: flex;
    align-items: center;

}

.profile-pic {
    height: 30px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    margin-bottom: 5px;
}


/* TESTING STARS GRANTS*/
.stars {
    /* display: inline-block; */
    font-size: 18px;
    /* font-family: Times;
    line-height: 1;
    justify-content: center; */
  }

  /* .stars::before {
    --percent: calc(var(--rating) / 5 * 100%);
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, #fc0 var(--percent), #D3D3D3 var(--percent));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
  } */

  /* unicode for half stars not working */
  .stars-1::after {
    content:'\2605';
  }
  .stars-2::after {
    content: '★';
  }
  .stars-3::after {
    content: '★★';
  }
  .stars-4::after {
    content: '★★';
  }
  .stars-5::after {
    content: '★★★';
  }
  .stars-6::after {
    content: '★★★';
  }
  .stars-7::after {
    content: '★★★★';
  }
  .stars-8::after {
    content: '★★★★';
  }
  .stars-9::after {
    content: '★★★★★';
  }
  .stars-10::after {
    content: '★★★★★';
  }





  .starHalfFill {
    background: linear-gradient(to right, orange 50%, grey 50%);
  }
