.product-card {
  height: 377px;
  width: 318px;
  padding: 9px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-card-img {
  width: 318px;
  height: 252px;
  object-fit: cover;
  border-radius: 3px;
}

.product-card-img:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.product-card-title {
  font-size: 14px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-card-price-details {
  display: flex;
  align-items: center;
}

.price-after-discount {
  font-size: 16px;
  font-weight: 600;
}

.price-before-discount {
  text-decoration: line-through;
}

.price-before-discount,
.discount-value {
  font-size: 12px;
  font-weight: 300;
  color: #258635;
  margin-left: 3px;
}
