.product-card {
  height: 100%;
  width: 100%;
  max-height: 317px;
  max-width: 250px;
  color: #222222;
  padding: 9px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product-card-img {
  height: 142px;
  width: 250px;
  object-fit: cover;
  border-radius: 3px;
  /* max-width: 317px;
  max-height: 251px; */
}

.product-card-img:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.product-card-title {
  font-size: 14px;
  font-weight: 300;
  text-overflow: ellipsis;
}

.product-card-price-details {
  display: flex;
  align-items: center;
}

.price-after-discount {
  font-size: 16px;
  font-weight: 600;
}

.price-before-discount {
  text-decoration: line-through;
}

.price-before-discount,
.discount-value {
  font-size: 12px;
  font-weight: 300;
  color: #258635;
  margin-left: 3px;
}
