.circle-btn {
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
}

.circle-btn:hover {
  opacity: 0.9;
}

.circle-btn-medium {
  height: 48px;
  width: 48px;
  font-size: 18px;
}

.square-btn {
  background-color: #fff;
  color: #222;
  border-radius: 3px;
  border: 1px solid #e1e3df;
}

.square-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* .square-b */

.square-btn-small {
  height: 45px;
  width: 45px;
  padding: 4px;
  position: absolute;
  bottom: 5px;
  left: 122px;
  z-index: 10000;
}
