textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans',
    'Segoe UI', 'Helvetica', Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px;
}
